<p>
  <%= form_tag('/quotes', :method => :get) do %>
  <%= label_tag(:q_lotr, "Lord of the Rings quotes Search:") %>
  <%= text_field_tag(:q_lotr) %>
  <%= submit_tag "LOTR Search" %>
  <% end %>
</p>
<p>
  <%= form_tag('/parks', :method => :get) do %>
  <%= label_tag(:q_nps, "National Park Service Search:") %>
  <%= text_field_tag(:q_nps) %>
  <%= submit_tag "NP Search" %>
  <% end %>
</p>
<p>
  <%= form_tag('/ships', :method => :get) do %>
  <%= label_tag(:q_sw, "Star Wars Search:") %>
  <%= text_field_tag(:q_sw) %>
  <%= submit_tag "Search" %>
  <% end %>
</p>
<p>
  <%= form_tag('/movies', :method => :get) do %>
  <%= label_tag(:q_movies, "Movies Search:") %>
  <%= text_field_tag(:q_movies) %>
  <%= submit_tag "Search" %>
  <% end %>
</p>
